@import "settings";

:local {
  .textBlock {
    position: relative;
    z-index: 4;
    margin-top: 40vh;
    padding: 10px;
    border-radius: 5px;
    background: #fffaf3;
    font-size: 20px;
  }

  .balloonContainer {
    position: relative;
    z-index: 1;
  }

  .leftBalloon,
  .rightBalloon {
    position: absolute;
    width: 50px;
    max-height: none;

    @include breakpoint(medium) {
      width: 80px;
    }
    @include breakpoint(large) {
      width: auto;
    }
  }

  .leftBalloon {
    right: 99%;
    bottom: 100%;
    transform: rotate(1deg) translate(7px, -7px);

    @include breakpoint(medium) {
      transform: rotate(1deg) translate(12px, -7px);
    }
    @include breakpoint(large) {
      right: 100%;
      transform: rotate(-10deg) translate(7px);
    }
  }

  .rightBalloon {
    bottom: 100%;
    left: 100%;
    transform: scaleX(-1) translate(8px, -1px) rotate(-7deg);

    @include breakpoint(medium) {
      transform: scaleX(-1) translate(10px, -1px) rotate(-7deg);
    }
    @include breakpoint(large) {
      transform: scaleX(-1) translateX(10px) rotate(-8deg);
    }
  }

  .textContainer {
    padding: rem-calc(16 24);
    border: 1px dashed rgba(black, 0.2);
    border-radius: 5px;
    font-size: rem-calc(24);

    span {
      display: block;
    }

    a {
      display: block;
      margin: rem-calc(12 0 0);
      text-decoration: underline;
    }
  }

  .form {
    label {
      display: block;
      margin: rem-calc(10 0);
      line-height: 1.2;
    }

    textarea {
      margin-top: rem-calc(8);
    }
  }

  .rsvp {
    img,
    label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }

    img {
      width: rem-calc(30);
      height: rem-calc(30);
      margin-right: rem-calc(8);
    }
  }

  .active {
    font-weight: bold;
    transform: scale(1.07);

    img {
      margin-left: rem-calc(7);
    }
  }

  .errorMsg {
    margin: rem-calc(0 0 6);
    color: red;
    font-size: rem-calc(16);
    font-weight: bold;
  }

  .formError {
    padding: rem-calc(8);
    border: 1px solid red;
  }

  .submitButton {
    display: inline-block;
    padding: rem-calc(8 16);
    border: 1px solid rgba(black, 0.2);
    border-radius: 5px;
  }
}
