@import "settings";

:local {
  .main {
    position: relative;
    z-index: 2;
    padding-top: 350px;

    @include breakpoint(medium) {
      padding-top: 500px;
    }
    @include breakpoint(large) {
      padding-top: 300px;
    }
  }
}
